@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
  }

  .negrito {
    font-weight: bold;
  }
  
  ol, ul {
    
    padding-left: 30px;
  }

  .buttons{
    display: flex;
	  flex-direction: column;
	  transform: rotatex(10deg);
  	animation: rotateAngle 6s linear infinite;
  }
  
    button{
      font-family: 'Montserrat', sans-serif;
    }

    .bn59 {
      background-color: #141414;
      border: 1px solid rgba(54, 54, 54, 0.6);
      font-weight: 600;
      position: relative;
      outline: none;
      border-radius: 20px;
      display: flex;
      font-size:10px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 1;
      min-height: 20px;
      padding: 5px;
      color:white;
    }


  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid black;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  